APP_NAME="rag"
APP_VERSION="0.1"

# File settings
MAX_SIZE = 2 #in megabytes
ALLOWED_FILE_TYPES=["pdf","txt"]
UPLOAD_DIR = "assets/uploaded_files"
CHUNKS_DIR = "assets/chunks"
EMBEDDINGS_DIR = "assets/embeddings"
EMBEDDING_MODELS_DIR = "assets/models/embedding_models"
RERANKING_MODELS_DIR = "assets/models/reranking_models"
VISUALIZATIONS_DIR = "assets/visualizations"

# Mongo 
MONGODB_CONNECTION = "" 
MONGODB_DATABASE_NAME = "rag"
MONGODB_TEST_DATABASE_NAME = "test"


# Vector DB
VECTORDB_PATH = "assets/vector_db/chromadb"

